* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2a30;
}

.container {
    width: 80%;
    height: auto;
    min-height: 70vh;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.left-side {
    width: 50%;
    background-color: #2e3d44;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f0f0f0;
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    left: 40px;
    display: flex;
    gap: 20px;
}

nav a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f0f0f0;
}

.left-side h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #f0f0f0;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="tel"],
.input-container input[type="password"],
.input-container input[type="file"],
.input-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3c4d56;
    color: #f0f0f0;
    margin-bottom: 10px;
}

/* Estilo específico para el campo select */
.input-container select {
    appearance: none;
    background-color: #3c4d56;
    color: #f0f0f0;
}

/* Indicador de selección para el campo select */
.input-container select::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0b0b0;
}

/* Estilo específico para el campo de carga de archivo */
input[type="file"] {
    padding: 8px;
    color: #b0b0b0;
    background-color: transparent;
    cursor: pointer;
}

/* Estilo para el botón de envío */
.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #a67c52;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #8b6841;
}

.right-side {
    width: 50%;
}

.right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
